{% extends 'components/base.html' %}
{% block content %}
{% load static %}

<div class="container bg-white rounded align-items-center p-5 pt-3">
        <img class="col-12 col-md-3 rounded-5" src="{{ product.image.url }}" alt="{{ product.title }}">
        <!--{% if product.old_price and product.old_price > product.price %}
            <div class="off-percentage">
                -{{ product.discount_percentage }}%
            </div>
        {% endif %}-->
    
    <div class="row">
        <h3 class="col-4">{{ product.title }}</h3>
        <div class="col-4 price-and-cart">
            <p class="align-self-start price">
                <strong>${{ product.price }}</strong>
                {% if product.old_price %}
                <span class="old-price">${{ product.old_price }}</span>
                {% endif %}
            </p>
        </div>
        <p class="col-12 category">{{ product.category.title }}</p>
        <h6 class="col-12 description">{{ product.description }}</h6>
        <div class="row border-dark border-top">
        {% if product.vendor %}
            <p>Vendor: {{product.vendor}}</p>
        {% endif %}
        {% if product.specifications %}
            <p>Specifications: {{product.specifications}}</p>
        {% endif %}
        {% if product.tags %}
            <p>Tags: {{product.tags}}</p>
        {% endif %}
        {% if product.in_stock %}
            <p>In Stock</p>
        {% else %}
            <p>Out of Stock</p>
        {% endif %}
        <p>PID: {{product.pid}}</p>
        <p>SKU: {{product.sku}}</p>
        <p>Date Added: {{product.date}}</p>
        </div>    
    </div>
    <div>          
        <!-- Add to Cart form -->
            <form>
                <!-- Quantity Form -->
                <div data-mdb-input-init class="form-outline" style="width:em; padding:15px;">
                    <label class="form-label" for="quantityInput">Quantity:</label>
                    <input id="qty-{{product.id}}" step="1" value="1" min="1" type="number" class="form-control"/>
                </div>
                <div class="card-body">
                    <button type="button" value="{{product.id}}" data-index="{{product.id}}"class="btn btn-warning add-to-cart small-button">
                        Add to Cart
                    </button>
                </div>
            </form>
        </div>
                </div>
            </div>
        </div>
        <div id="alert-badge" class="alert alert-primary alert-dismissible fade" role="alert" style="position: fixed; bottom: 20px; right: 20px; z-index: 1050;">
            placeholder
        </div>
    </div>
</div>

<!-- js/ajax to deal with button -->
<script>
    //show the user status badge
    $(document).ready(function() {
        // Automatically hide the alert after 5 seconds
        setTimeout(function() {
            $('#alert-badge').alert('close');
        }, 5000);
    });
    //look for button
    $(document).on('click','.add-to-cart', function(inp){
        inp.preventDefault();
        const productId = $(this).data('index');
        const qty = $(`#qty-${productId}`).val();
        console.log( productId)
        $.ajax({
            type: 'POST',
            url: "{% url 'cart:add_to_cart' %}",
            data: {
                id: productId,
                qty:  qty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            
            success: function(json){
                console.log('Added: ', productId)
                document.getElementById('cart-count').textContent = '(' + json.qty + ')'

                //Success badge
                document.getElementById('alert-badge').textContent = "Item added to cart."
                $('#alert-badge').addClass('show alert-success');
                // Hide after 5 seconds
                setTimeout(function () {
                    $('#alert-badge').removeClass('show alert-success');
                }, 5000);
            },

            error: function(){
                console.log("Error adding to cart")

                //error badge
                document.getElementById('alert-badge').textContent = "Unable to add item to cart."
                $('#alert-badge').addClass('show alert-danger');
                // Hide after 5 seconds
                setTimeout(function () {
                    $('#alert-badge').removeClass('show alert-danger');
                }, 5000);
            }
        });
    });
</script>

{% endblock %}